[submodule "libvncserver"]
	path = libvncserver
	url = https://github.com/LibVNC/libvncserver.git
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
